# Lazarus / Free Pascal build results
/lib/
*.compiled
*.ppu
*.o
*.or
*.a
*.so
*.dll
*.exe
*.dbg

# Linux executable without extension
/StartFromTray

# Lazarus local files
*.lps

# Backups
/backup/
*.bak
*.~*
StartFromTray.ini
Langs/Default.ini
Items.xml
Filters.ini
