* text=auto

*.pas text eol=lf
*.lpr text eol=lf
*.lpi text eol=lf
*.lfm text eol=lf
*.xml text eol=lf
*.ini text eol=lf
*.md  text eol=lf

*.sh  text eol=lf
*.bat text eol=crlf
*.cmd text eol=crlf

*.res binary
*.ico binary
*.png binary
